<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Project Management System</title>

<!-- Bootstrap CSS -->
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<!-- FontAwesome -->
<link href="css/font-awesome.min.css" rel="stylesheet">
<!-- Datepicker -->
<link href="assets/datepicker/bootstrap-datepicker.css" rel="stylesheet">
<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Montserrat:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

<!-- Bootstrap -->
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<!-- Datepicker -->
<script type="text/javascript" src="assets/datepicker/bootstrap-datepicker.js"></script>
<script type="text/javascript">
	$('.datepicker').datepicker();
</script>

<!-- Angular JS -->
<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/pms_custom.js"></script>
<!-- Firebase -->
<script type="text/javascript" src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
<!-- AngularFire -->
<script type="text/javascript" src="https://cdn.firebase.com/libs/angularfire/1.2.0/angularfire.min.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/firebasejs/3.2.1/firebase.js"></script>

</head>
<body ng-app="pmsApp">
<div ng-controller="ClController">
	<header class="header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-4 hidden-md-down">
					<h1 class="projectTitle">Project Management System</h1>
				</div>
				<div class="col-lg-8">
					<nav class="navbar navbar-toggleable-md navbar-light">
						<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>
						<a class="navbar-brand projectTitle" href="#">Project Management System</a>

						<div class="collapse navbar-collapse" id="navbarSupportedContent">
							<ul class="navbar-nav mr-auto">
								<li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Projects</a>
									<ul class="dropdown-menu dropdown-menu-right">
										<li><a class="dropdown-item" href="index.html">View Projects</a></li>
										<li><a class="dropdown-item" href="#">Add Project</a></li>
									</ul>
								</li>
								<li class="nav-item dropdown active">
									<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Clients</a>
									<ul class="dropdown-menu dropdown-menu-right">
										<li><a class="dropdown-item active" href="clients.html">View Clients</a></li>
										<li><a class="dropdown-item" href="#">Add Client</a></li>
									</ul>
								</li>
							</ul>
						</div>
					</nav>
				</div>
			</div>
		</div>
	</header>
	<div class="container-fluid">
		<div class="tabletitle">
			<div class="row">
				<div class="col-md-6 col-lg-6">
					<h5 class="text-uppercase">Clients List</h5>
				</div>
				<div class="col-md-6 col-lg-6">
					<div class="form-group searchform">
						<span class="searchicon"><i class="fa fa-search"></i></span>
						<input type="text" name="" class="form-control" ng-model="search_string" placeholder="Search">
					</div>
				</div>
			</div>
		</div>
		<!-- //tabletitle -->

		<div class="table-responsive">
			<table class="table table-striped table-hover">
				<thead class="thead-inverse">
					<tr>
						<th>Name</th>
						<th>Email</th>
						<th>Phone</th>
						<th>Country</th>
						<th>City</th>
						<!-- <th>Street Address</th> -->
						<th>Source</th>
						<th>Source ID</th>
						<th width="160">Action</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="client in getClients | filter:search_string">
						<td>{{ client.client_name }}</td>
						<td>{{ client.client_email }}</td>
						<td>{{ client.client_phone }}</td>
						<td>{{ client.client_country }}</td>
						<td>{{ client.client_city }}</td>
						<!-- <td>{{ client.client_st_add }}</td> -->
						<td>{{ client.client_source }}</td>
						<td>{{ client.client_source_id }}</td>
						<td width="160">
							<button class="btn btn-outline-warning btn-sm" data-toggle="modal" data-target="#showData" ng-click="showData(client)"><i class="fa fa-eye"></i></button>&nbsp;
							<button class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#editData" ng-click="editData(client)"><i class="fa fa-pencil"></i></button>&nbsp;
							<button class="btn btn-outline-danger btn-sm" ng-click="deleteData(client)"><i class="fa fa-trash"></i></button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- //table-responsive -->

		<hr>

		<button class="btn btn-success" ng-click="showForm()" data-toggle="modal" data-target="#addData">Add a Client <i class="fa fa-plus"></i></button>
	</div>




	<div class="modal fade" id="addData" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-show="addFormShow">
		<div class="modal-dialog modal-lg" role="document" >
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">Add a Client</h4>
				</div>
				<div class="modal-body">
					<form ng-submit="addFormSubmit()" id="addForm">
						<div class="row">
							<div class="col-lg col-md col-sm">
								<div class="form-group">
									<label>Name</label>
									<input type="text" ng-model="client_name" class="form-control" placeholder="Name" required="required">
								</div>
							</div>
							<div class="col-lg col-md col-sm">
								<div class="form-group">
									<label>Email</label>
									<input type="email" ng-model="client_email" class="form-control" placeholder="Email" required="required">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg col-md col-sm">
								<div class="form-group">
									<label>Phone</label>
									<input type="tel" pattern="^\d{3}-\d{3}-\d{4}$" ng-model="client_phone" class="form-control" placeholder="000-000 0000">
								</div>
							</div>
							<div class="col-lg col-md col-sm">
								<div class="form-group">
									<label>Country</label>
									<input type="text" ng-model="client_country" class="form-control" placeholder="Country" required="required">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg col-md col-sm">
								<div class="form-group">
									<label>City</label>
									<input type="text" ng-model="client_city" class="form-control" placeholder="City">
								</div>
							</div>
							<div class="col-lg col-md col-sm">
								<div class="form-group">
									<label>Address</label>
									<input type="text" ng-model="client_st_add" class="form-control" placeholder="Address">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg col-md col-sm">
								<div class="form-group">
									<label>Source</label>
									<input type="text" ng-model="client_source" class="form-control" placeholder="Source">
								</div>
							</div>
							<div class="col-lg col-md col-sm">
								<div class="form-group">
									<label>Source ID</label>
									<input type="text" ng-model="client_source_id" class="form-control" placeholder="Source ID">
								</div>
							</div>
						</div>
						<button type="submit" class="btn btn-default btn-success">Add Client</button>
					</form>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="editData" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">Update Client Info</h4>
				</div>
				<div class="modal-body" ng-show="editFormShow">
					<form ng-submit="editFormSubmit()">
						<div class="row">
							<div class="col-md-6 col-sm-6">
								<div class="form-group">
									<label>Name</label>
									<input type="text" ng-model="client_name" class="form-control" placeholder="Name">
								</div>
							</div>
							<div class="col-md-6 col-sm-6">
								<div class="form-group">
									<label>Email</label>
									<input type="email" ng-model="client_email" class="form-control" placeholder="Email">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 col-sm-6">
								<div class="form-group">
									<label>Phone</label>
									<input type="tel" pattern="^\d{3}-\d{3}-\d{4}$" ng-model="client_phone" class="form-control" placeholder="000-000 0000">
								</div>
							</div>
							<div class="col-md-6 col-sm-6">
								<div class="form-group">
									<label>Country</label>
									<input type="text" ng-model="client_country" class="form-control" placeholder="Country">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 col-sm-6">
								<div class="form-group">
									<label>City</label>
									<input type="text" ng-model="client_city" class="form-control" placeholder="City">
								</div>
							</div>
							<div class="col-md-6 col-sm-6">
								<div class="form-group">
									<label>Street Address</label>
									<input type="text" ng-model="client_st_add" class="form-control" placeholder="Street Address">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 col-sm-6">
								<div class="form-group">
									<label>Source</label>
									<input type="text" ng-model="client_source" class="form-control" placeholder="Source">
								</div>
							</div>
							<div class="col-lg col-md col-sm">
								<div class="form-group">
									<label>Source ID</label>
									<input type="text" ng-model="client_source_id" class="form-control" placeholder="Source ID">
								</div>
							</div>
						</div>
						<button type="submit" class="btn btn-default btn-success">Update Client Info</button>
					</form>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="showData" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">View Client Info</h4>
				</div>
				<div class="modal-body projectDetails" ng-show="detailsShow">
					<dl class="row">
						<dt class="col-md-5 col-lg-4">Name</dt>
						<dd class="col-md-7 col-lg-8">{{client_name}}</dd>
						<dt class="col-md-5 col-lg-4">Email</dt>
						<dd class="col-md-7 col-lg-8">{{client_email}}</dd>
						<dt class="col-md-5 col-lg-4">Phone</dt>
						<dd class="col-md-7 col-lg-8">{{client_phone}}</dd>
						<dt class="col-md-5 col-lg-4">Country</dt>
						<dd class="col-md-7 col-lg-8">{{client_country}}</dd>
						<dt class="col-md-5 col-lg-4">City</dt>
						<dd class="col-md-7 col-lg-8">{{client_city}}</dd>
						<dt class="col-md-5 col-lg-4">Street Address</dt>
						<dd class="col-md-7 col-lg-8">{{client_st_add}}</dd>
						<dt class="col-md-5 col-lg-4">Source</dt>
						<dd class="col-md-7 col-lg-8">{{client_source}}</dd>
						<dt class="col-md-5 col-lg-4">Source ID</dt>
						<dd class="col-md-7 col-lg-8">{{client_source_id}}</dd>
					</dl>
				</div>
			</div>
		</div>
	</div>

</div>




</body>
</html>